body {
  font-family: sans-serif;
  background: #121212;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

#role-selector, #remote-container {
  margin-top: 50px;
}

button {
  padding: 12px 24px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#screen-container {
  margin-top: 40px;
}

.timers {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 64px;
}

.team {
  padding: 20px;
}

.red {
  background-color: #d72638;
}

.blue {
  background-color: #0077b6;
}

.bar {
  display: flex;
  height: 20px;
  margin: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
}

.bar-segment {
  height: 100%;
  transition: width 0.3s ease;
}

#red-bar {
  background-color: #ef476f;
  width: 50%;
}

#blue-bar {
  background-color: #118ab2;
  width: 50%;
}

#turn-indicator {
  height: 8px;
  width: 100%;
}

#turn-indicator.red {
  background-color: #ef476f;
}

#turn-indicator.blue {
  background-color: #118ab2;
}

.controls {
  margin: 20px;
}
